* {
    box-sizing: border-box;
}

:root {
    --brown: #672800;
    --lightbrown: #D2A11B;
    --white: #F6F6F6;
    --black: #1b1b1b;
    --btn-hover: hsl(44, 77%, 41%);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.no-margin {
    margin: 0;
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    background: var(--lightbrown);
    box-shadow: 0px -18px 20px 18px #1b1b1b;
}

.navbar-container {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--black);
}

.navbar-menubutton__img {
    max-width: 32px;
    max-height: 32px;
}

.navbar-menubutton {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.rotate {
    transform: rotate(-135deg)
}


/* Måste fixa att den hela tiden ligger bakom navbar */
@keyframes menuDropDown {
    0% { 
        transform: translateY(-100%);
    }
    100% { 
        transform: translateY(0%); 
    }
}

.navbar-menu {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    background: var(--lightbrown);
    animation: menuDropDown .4s ease-in-out;
}

.navbar-menu ul li a {
    color: var(--black);
}

.navbar-menu ul {
    padding: 0;
}

.navbar-menu ul li {
    padding: 10px 25px;
    /* border-top: 1px solid rgb(59, 59, 59); */
    margin: 1px 0;
}

.navbar-menu ul li:hover {
    background-color: var(--btn-hover);
}


.drycker-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 1em;
}

/* ########### CARD ############ */

.card-wrapper {
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    border: 1px solid rgba(45, 41, 38, 0.1);
    border-radius: 4px;
    box-shadow: rgb(45 41 38 / 10%) 0px 1px 4px;
    transition: transform 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
    color: var(--black);
}

.card-container {
    display: flex;
    flex-grow: 1;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
}

.card-product-details-type {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.card-product-details-price {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.card-product-details-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
}

.card-product-details-id {
    margin: 4px 0px 0px;
    font-size: 12px;
    line-height: 19.2px;
    color:rgba(45, 41, 38);
}

.card-product-country {
    margin: 0px 8px 0px 0px;
    font-size: 12px;
    line-height: 1.33;
}

.card-product-price {
    flex-shrink: 0;
    font-size: 14px;
    line-height: 1.6;
    font-weight: bold;
}

.card-product-country-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
}

.card-product-type {
    margin: 0;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
   
}

.card-image-container {
    display: flex;
}

.card-image {
    display: flex;
    flex-shrink: 0;
    width: 72px;
    height: 104px;
    margin-right: 16px;
    justify-content: center;
}

.card-image > img {
    object-fit: cover;
    height: 104px;
    width: 72px;
}

.hero-image {
    max-width: 100%;
}

/* ########### PRODUCTS ########### */ 


.product-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    display: block;
    line-height: 1.5;
    outline: none;
}

.product-image {
    max-width: 300px;
    max-height: 252px;
}

.product-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 249, 249);
}

.product-image-container {
    width: 100%;
    max-width: 1208px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    padding-bottom: 12px;
}

.product-image-container-inner {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.product-button-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    background: rgb(211, 192, 192);
    color: rgb(9, 87, 65);
    padding: 8px 16px 8px 24px;
    border-radius: 8px;
}

.product-type-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.product-type-container {
    width: 100%;
    max-width: 1208px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    padding-top: 12px;
}

.product-type-information-container {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.product-type-price {
    padding: 12px 0px 16px;
    border-bottom: 1px solid rgba(45, 41, 38, 0.1);
    border-top: 1px solid rgba(45, 41, 38, 0.1);
    border-right-color: rgba(45, 41, 38, 0.1);
    border-left-color: rgba(45, 41, 38, 0.1);
}

.product-taste-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 0px 16px;
    border-bottom: 1px solid rgba(45, 41, 38, 0.1);
    border-top: 1px solid rgba(45, 41, 38, 0.1);
    border-right-color: rgba(45, 41, 38, 0.1);
    border-left-color: rgba(45, 41, 38, 0.1);
    gap: 2.5rem;
}