.navbar {
    display: flex;
}

.appBarWrapper {
    width: 100%;
    background-color: white;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    padding: .5em 1em;
    align-items: center;
}

.menu {
    display: inline-flex;
    gap: 1em;
}

.hide {
    display: none;
}

.show {
    background-color: white;
    display: flex;
}