.wrapper {
    padding: 8px;
    box-shadow: 0 0 20px -16px rgba(0, 0, 0, 1);
    width: 180px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.image {
    object-fit: contain;
    margin-bottom: 15px;
}

.cardInfo {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
    margin-top: 5px;
    align-items: center;
}

.cardTitle {
        font-size: 12px;
        max-width: 108px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2px;
}